<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".BridgeFSApp" android:theme="@style/AppTheme" android:label="@string/app_name" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".ApsActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".GitHubActivity" android:exported="false" />
        <activity android:name=".ApiSettingsActivity" android:exported="false" />
        <activity android:name=".GlobalAccessActivity" android:exported="false" />
        <activity android:name=".SettingsCategoryActivity" android:exported="false" />
    </application>
</manifest>